body {
    padding: 0;
    margin: 0;
    font-family: calibry;
    background: #eee;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

html, body{
    width: 100%
    height: 100%;
}

input{
    width: 518px;
    padding: 3px 0;
    font-size: 24px;
}
h1{
    font-size: 40px;
}

input[type="submit"]{
    background: black;
    color: white;
    border: 1px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    /*width: 90px;*/
    font-size: 20px;
    padding: 10px 0;
}
    a:link { color: white; }
    a:visited { color: white; }

#stuff {
    position: fixed;
    top: 64%;
    left: 39%;
    display: flex;
    justify-content: center;
    height: 4.5%;
    background: black;
    border: 1px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    width: 500px;
    font-size: 20px;
    padding: 10px 0;
}