title= title
link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.css")
link(rel="stylesheet", href="/assets/style.css")
