html
    head
        include head.jade
    body
        h1= message
        form(action="/login" method="POST")
            input(type="text" name="username")
            br
            input(type="password" name="password")
            br
            input(type="submit" name="Login")
        #stuff
            a(href="register") Register
        include foot.jade
