html
    head
        include head.jade
    body
        h1= message
        form(action = "/register", method = "POST")
            input(type = "text", name = "username")
            br
            input(type = "password", name = "password")
            br
            input(type = "submit", name = "Register")
        include foot.jade
